body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(58,51,170);
  background: linear-gradient(90deg, rgba(58,51,170,1) 0%, rgba(31,25,237,1) 50%, rgba(207,214,44,1) 100%);
  animation: colour 10s infinite;
  background-size: 400% 400%;
  color: white;
}
/*changes colour and style of font and adds a colour changing background to make the site appear more engrossing to user*/
nav {
  border-radius: 10px;
  justify-content: center;
  font-size: 0.3cm;
  position:relative;
  display:flex;
  margin: 0;
  width: 100%;
}
/*sets content in element to the center, adds padding so theres space between elements, changes font size and width so it appears more interesting*/
nav a {
  margin: 3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 14px 12px;
  color: white;
  display:block;
}
/*centers content in nav element with <a>, changes text colour, turns users cursor to a pointer when hovered over so it'll appear more interesting*/
nav a:hover {
  background-color: white;
  color: #1f19ed;
  border-radius: 10px;
}
/*when user hovers over <a> element their background and font colour changes to make it appear more unique*/
h1 {
  text-align: center;
  margin: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.5cm
}
/*centers <h1> elements, applies a radius to its borders, creates padding and has no margin*/
h3 {
  color: white;
  padding:5px;
}
/*changes font colour and adds padding to <h3> elements so it looks more interesting*/
span {
  font-weight: bold;
}
/*turns elements in <span> element bold so they appear more important*/
p {
  text-decoration: none;
  color: white;
}
/*changes font colour and takes away any text decoration so it looks more interesting*/
.display {
  display: none;
}
/*turns elements display to none so they don't appear*/
.home {
  position: relative;
  text-align: center;
  padding: 5px;
  margin: auto;
}
/*centers all elements its used with and creates padding between elements so there is space*/
.welcome {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5cm;
}
/*places element at a certain place on the website over an image and stacks element over everything so it looks more impressive*/
.message {
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*places element at a certain place on the website over an image and stacks element over everything so it looks more impressive*/
.home_image{
  width:100%;
  left:0;
  top:0;
  filter: blur(8px);
}
/*sets width and position of element*/
.img-row {
  display: flex;
}
/*sets display of element to flex so that they can be positioned on certain sides of the website*/
.imgcolumn {
  flex: 33.33%;
  padding: 5px;
  position: relative;
}
/*this sets elements on opposite sides of the website to geive them a more compelling look*/
.block {
  position: absolute;
  bottom: 50px;
  right: 40px;
  border-radius: 10px;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
/*creates a block around the element with a black background and positions them to a certain point so give them a more striking design*/
.cov-img {
  width:100%;
  border-radius: 10px;
}
/*sets width and radius of border of element so they look more interesting*/
.button {
  border: none;
  cursor: pointer;
  font-size: 30px;
  transition: 0.6s;
  font-size: 0.6cm;
  background-color: #1f19ed;
  width: 80%;
  padding: 10px;
  margin:0px;
}
/*turns users cursor to a pointer when hovered over, changes font size, creates padding around it so theres apce between elements and adds a transition time between animations*/
.button:hover {
  background-color: white;
  color: #1f19ed;
  border-radius: 10px;
}
/*whenever user hovers over element background and font colour change to make it more interesting*/
.content {
  display: none;
  position: absolute;
  min-width: 400px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
  z-index: 2;
  background-color: #1f19ed;
  border-radius: 10px;
}
/*sets elements display to none so it doesn't appear, changes background colour and size and adds a box shadow so it appears more interesting*/
.show {
  display: block;
}
/*turns elements display to block so the element appears*/
.popup {
  display:none;
  width: 80%;
  height: 80%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  padding: 5%;
  text-align: center;
  font-size: 0.4cm;
  font-family: sans-serif;
}
/*sets elements display to none so it doesn't appear, sets height, width and font, adds background colour*/
.popup .inside {
  padding: 2%;
}
/*sets padding space to elements*/
.closeBtn {
  float: right;
}
/*sets element to the right so its more noticeable*/
.popup img {
  width: 300px;
  border-radius: 10px;
}
/*sets width of element*/
.imgThumbnail {
  width:30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}
/*sets size and position of element so it looks more pleasing*/
.video {
  padding: 5px;
  background-color: black;
}
/*adds a black background and spacing between elements to add to their design*/
.img_space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: Black;
}
/*positions all elements to the center of the page to create a more ordered design*/
.img {
  border: none;
  background: none;
}
/*takes away border and backgrounds of elements so they don't clash with design of the site*/
.img img {
  height:100px;
  width:150px;
  margin: 2px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}
/*set height and width of elements, turns users cursor to a pointer and helps to centers them further*/
.img:active img, .img:focus img {
  height: 250px;
  width: 350px;
}
/*changes the height and width of the elements whenever they are active to add to their design*/
.border {
  border-radius: 15px;
  border-style: solid;
  margin:10px;
  border-width: 2px;
  background-color: white,
}
/*creates a border surround the elements to give them a more impressive look*/
.about {
  background-color: black;
  margin: 0;
  border-radius: 10px;
}
/*adds colour to the background to add to design and look*/
.about img {
  cursor: pointer;
}
/*turns users cursor to a pointer when they hover over element*/
.logo {
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*sets width and position of element to give it a more compelling look*/
.contact {
  padding: 5px;
  font-family: sans-serif;
  background-color: black;
}
/*changes background colour, font and adds spacing between elements to add to the elements design*/
.SC {
  max-width:15%;
  padding: 5px;
  margin:3px;
}
/*sets elements size and spacing to add to its design*/

@keyframes colour{
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
/*changes colour position of the background to give the website a more engaging design*/
